extends layout

block content
  if post
    .single-post
        h1=post.title
        p.meta Posted in 
            a(href='/category/show/#{post.category}') #{post.category}
            span  by 
            a(href='/members/#{post.username}') #{post.author} 
            span  on #{moment(post.date).format('DD-MM-YYYY, h:mm:ss a')} GMT+6
        .author-profile
            a(href='/members/#{post.username}')
                img(src='/images/profile/#{author.profile_image}', alt="#{post.author}")
        .post-image
            img(src='/images/uploads/#{post.content_image}', alt="#{post.title}")
        =post.description
        .container
            .container.comment-container
                h2 Comments
                div.comment-area
                    div.person-area
                        .person-image
                            img(src="/images/profile/visitor-image.png", alt="visitor-image")
                        div.person-info
                            h5 Person Name
                            p comments body..........Ut sed nibh ac urna ornare finibus nec at metus. Fusce dictum ut lorem at facilisis. Aliquam porttitor sem vel mauris ultrices mattis. Praesent tempor suscipit nisi luctus euismod. Etiam hendrerit tempor justo id volutpat. Ut varius augue nec aliquam bibendum. Sed posuere aliquam eleifend. Suspendisse volutpat velit quam, sed sagittis felis elementum eu. Fusce nulla ligula, ornare vel risus eu, iaculis dictum eros. Donec semper, lacus
                            p date
                    hr
                    div.person-area
                        .person-image
                            img(src="/images/profile/visitor-image.png", alt="visitor-image")
                        div.person-info
                            h5 Person Name
                            p comments body..........Ut sed nibh ac urna ornare finibus nec at metus. Fusce dictum ut lorem at facilisis. Aliquam porttitor sem vel mauris ultrices mattis. Praesent tempor suscipit nisi luctus euismod. Etiam hendrerit tempor justo id volutpat. Ut varius augue nec aliquam bibendum. Sed posuere aliquam eleifend. Suspendisse volutpat velit quam, sed sagittis felis elementum eu. Fusce nulla ligula, ornare vel risus eu, iaculis dictum eros. Donec semper, lacus
                            p date
                ul.errors
                    if errors
                        each e in errors
                            li.alert.alert-danger= e.msg
                form(action='/posts/show/#{post.username}/#{post._id}', method='post')
                    .form-group
                        label Name
                        input.form-control(name='name', type='text', placeholder='Enter Name')
                    .form-group
                        label Email
                        input.form-control(name='email', type='email', placeholder='Enter your email')
                    .form-group
                        label Comment
                        textarea.form-control(name="comment", col='30', rows="3", placeholder="Write here...")
                    button.btn.btn-primary(name='submit', type='submit', value='submit') Submit


