extends layout

block content
  if post
    .single-post
        h1=post.title
        p.meta Posted in 
            a(href='/category/show/#{post.category}') #{post.category}
            span  by 
            a(href='/members/#{post.username}') #{post.author} 
            span  on #{moment(post.date).format('DD-MM-YYYY, h:mm:ss a')} GMT+6
        .author-profile
            a(href='/members/#{post.username}')
                img(src='/images/profile/#{author.profile_image}', alt="#{post.author}")
        .post-image
            img(src='/images/uploads/#{post.content_image}', alt="#{post.title}")
        =post.description
        .container
            .container.comment-container
                h2 Comments
                div.comment-area
                    if comments
                        each comment in comments
                            div.person-area
                                .person-image
                                    if (comment.type === 'visitor')
                                        img(src="/images/profile/#{comment.person_image}", alt="visitor-image")
                                    if (comment.type === 'member')
                                        img(src="/images/profile/#{comment.person_image}", alt="member-image")
                                div.person-info
                                    h5= comment.person_name
                                    p(style="color: #3d47b3;")= comment.type
                                    p= comment.comment 
                                    p.date= moment(comment.date).format("DD-MM-YYY, hh:mm:ss a")
                                    p
                                        a(href='#') Reply
                            hr
                ul.errors
                    if errors
                        each e in errors
                            li.alert.alert-danger= e.msg
                form(action='/posts/show/#{post.username}/#{post._id}', method='post')
                    .form-group
                        label Name
                        input.form-control(name='name', type='text', placeholder='Enter Name')
                    .form-group
                        label Email
                        input.form-control(name='email', type='email', placeholder='Enter your email')
                    .form-group
                        label Comment
                        textarea.form-control(name="comment", col='30', rows="3", placeholder="Write here...")
                    button.btn.btn-primary(name='submit', type='submit', value='submit') Submit


